.home-page-header {
  font-family: Segoe UI;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid #C8C8C8;
  text-align: center;
  padding-top:  24px;
  padding-bottom: 32px;
  flex: 0 0 auto;
}